# Frontend
VITE_API_URL=http://localhost:3000

# Backend
NODE_ENV=development
PORT=3000
JWT_SECRET=your_super_secret_key_change_this_in_production
DATABASE_URL=postgresql://user:password@localhost:5432/voltbody
UPLOAD_DIR=./uploads

# Prisma
DATABASE_URL_SHADOW=postgresql://user:password@localhost:5432/voltbody_shadow
